# OS
.DS_Store
Thumbs.db

# Environments & Secrets
.env
*.env
google-credentials.json
.venv/
venv/
__pycache__/
*.pyc

# Go
backend/internal/gen/
go.sum

# Node / Frontend
node_modules/
dist/
build/
.eslintcache

# Protos (Generated)
intelligence/proto/*_pb2.py
intelligence/proto/*_pb2_grpc.py
