# virtual env
backend/.venv

# caches
.mypy_cache
__pycache__

# Ignore Google Cloud credentials
backend/google-credentials.json
backend/.env

# frontend
frontend/node_modules/
frontend/package-lock.json