# Web Framework & Server
fastapi
uvicorn[standard]

# Google Cloud AI Services
google-cloud-aiplatform
google-cloud-vision
google-cloud-language

# For loading environment variables (.env file)
python-dotenv

pydantic
python-multipart
pydantic-settings
google-genai
httpx
watchfiles
